{% load static %}
  <!-- ======= Footer ======= -->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">So Sánh Giá</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Giá cả cạnh tranh nhất thị trường hiện nay. Website giúp bạn so sánh giá cả trên các trang web mua sắm lớn như Điện Máy Xanh, Điện Máy Chợ Lớn, Chợ Tốt, Sen Đỏ, Amazon.
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Phone: </span> 035 425 7974
                </li>
                <li class="color-a">
                  <span class="color-text-a">Email: </span> truongvantthong@gmail.com
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Công Nghệ Sử Dụng</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="https://www.djangoproject.com/start/">Framework Web Django</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="https://www.geeksforgeeks.org/implementing-web-scraping-python-beautiful-soup/">BeautifulSoup</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="https://selenium-python.readthedocs.io/">Selenium</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="https://deep-translator.readthedocs.io/en/latest/usage.html">Deep Translator</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="https://www.postgresql.org/">Database Postgresql and SQLite</a>
                  </li>
                  <!-- <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="https://www.sqlite.org/">Database SQLite</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Website Thương Mại</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="https://dienmayxanh.com/">Điện Máy Xanh</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="dienmaycholon.vn">Điên Máy Chợ Lớn</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="https://www.chotot.com/">Chợ Tốt</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="https://www.sendo.vn/">Sen Đỏ</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="https://www.amazon.com/">Amazon</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>